#image1{
    margin-top: 50px;
    margin-left: 400px;

}

#image2{
    margin-top: -210px;
    margin-left: 700px;
}
#image3{
    margin-left: 400px;
    margin-top: 50px;
}
#image4{
    margin-left: 700px;
    margin-top: -210px;
}